<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="fragments/head :: headtag">

<body>

<!-- Start: Header Section -->
<header id="header-v1" class="navbar-wrapper inner-navbar-wrapper"
        th:insert="fragments/menu :: head(page='SERVICES')"></div>
</header>
                
        <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Our Services</h2>
                    <span class="underline center"></span>
                    <p class="lead">. . .</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a th:href="@{/}">Home</a></li>
                        <li>Services</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->
        <!-- Start: Services Section TEXT HERE !!!!!!!!!!!!!!!!!!!!!!!!! -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="services-main">
                        <div class="services-pg">                            
                            <section class="services-offering">
                             </section>
                            <section class="who-we-are">
                                <div class="company-info">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-8 border">
                                                <div class="row">
                                                    <div class="col-sm-11">
                                                        <div class="company-detail">
                                                            <h3
                                                                    class="section-title">Our rules</h3>
                                                            <span class="underline left"></span>
                                                            <b>1. General Provisions</b>
                                                            </br>
                                                            1.1. Library guidelines were made up to Law of Ukraine "On Libraries and Librarianship" of 27.01.1995r., The Model Regulation "On the university library III-IV level of accreditation approved by the MES of Ukraine №641 from 06.08.2004r ., Model of the library higher educational institution of Ukraine №321 from 31.08.1998r Regulations about the library.
                                                            </br>
                                                            1.2. The library is an educational, scientific, informational, cultural and educational structural department deed-educational institution and provides printing works and other information materials, training, research and you.
                                                            </br>
                                                            1.3. Library funds are the main part of the national reference system and are under the state protection.
                                                            </br>
                                                            1.4. Administration provides legal, organizational, financial and material conditions necessary for the library process functioning, be exact, include proper storage, usage, replenishment and storage the funds, also library computerization and technical equipment.
                                                            </br>
                                                            1.5. The library free of charge.
                                                            </br>
                                                            1.6. Rules are approved by administration.
                                                            </br>
                                                            <b>2. The readers rights and the basis of the library funds usage.</b>
                                                            </br>2.1. The basis of the library funds usage the outside users.</br>
                                                            2.2. External users are served in the reading rooms.</br>
                                                            2.3. Readers have the temporary right to use the scientific, educational, artistic, background, methodical literature, being present at the reading rooms and having subscription right, also is possible to come to the other branches and points of literature giving; use the information and bibliographic service, other services provided by the library; to take part at all kinds reading-conferences , literary and musical evenings, debates and other events conducted by the library.
                                                            </br>
                                                            2.4. To register an electronic form (EF) you should submit a document that creates your personal security code (password).</br>
                                                            2.5. During the registration a EF user acquainted with the library rules and certifies it to their own personal security code.</br>
                                                            <b>3. Members Duties</b>

                                                            </br>3.1. For literature getting it should given the request.</br>
                                                            3.2. Users are to care the books and other printed works taken from the library funds, return them in time, do not take out off the library without special permission  and if it is not pointed at the correspond documents, do not pull up and bend the pages,  do not take out off the cards from the catalogues, keep the silence at the reading rooms.</br>
                                                            3.3. Receiving the literature you should remember the  careful treatment about the books and other printed works, in case of some defects you should inform the librarian, who will make appropriate notes at the publication.</br>
                                                            3.4. Responsibility for literature being spoiled treats to those who used it  the last time.</br>
                                                            3.5. Library users made some financial losses, should bear the administrative responsibility according to the Laws of Ukraine.</br>
                                                            3.6. Users who have lost books from the library collection, or caused them irreparable harm should replace them under the same or equivalent recognized library content.</br>
                                                            3.7. The cost for lost or damaged books and other materials is determined by the prices listed in the records of the library considering further indexing their value.</br>
                                                            3.8. Replacing the lost or damaged literature writing at the special notebook and confirmed by both signatures of the user and librarian.
                                                            </br>3.9. Librarians annually make the reregistration the users. If the user has to re-pass for information literature-all remedy, which, if necessary, he can get back. Users were not re-registered – are not serviced the library.
                                                            </br>3.10. When a user do not use the library, he must return all the books to sign the letter than the electronic form will be blocked in the database.
                                                            </br>3.11. Violation such rules users are denied the right to use the library.</br>
                                                            <b>4. The procedure for the use of library funds</b>

                                                            </br>4.1. For reading desk:
                                                            </br>4.1.1. The literature appears to all categories of readers - 3 copies of the same period.
                                                            </br>4.1.2. Not issued to home use:encyclopedias and especially valuable  publications, unpublished edition.
                                                            </br>4.1.3 In case of long keeping the book without valid reasons, the library administration could appropriate sanctions against offenders (deprivation of the right to use library funds on a period of time).
                                                            </br>4.2. At the reading rooms:
                                                            </br>4.2.1. Books at the reading rooms are issued at the request of readers upon presentation of the relevant document.
                                                            </br>4.2.2. Unpublished materials (dissertations, theses, etc.)., Limited use of literature can be given in determinate order.
                                                            </br>4.2.3. Take out off a book from the reading room is prohibited. While leaving the reading room users have to pass it available documents.
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="company-image"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                </main>
            </div>
        </div>
<!-- End: Services Section -->
<footer class="site-footer" th:insert="fragments/footer :: footer"></footer>
<!-- End: Footer -->
<th:block th:insert="~{fragments/scripts :: script}"></th:block>
    </body>
</html>